.fifth_block {
    display: flex;
    flex-direction: row-reverse;
    height: 520px;
    gap:120px
}

.fifth_block__text {
    display: flex;
    flex-direction: column;
    margin-right: 125px;
}

.fifth_block__images {
    display: flex;
    align-items: center;
    margin-top: 0px;
}

.fifth_block__card {
    margin-right: 34px;
}

#card_2 {
    margin-top: 80px;
}