.first_block {
    display: flex;
    justify-content: center;
    height: 430px;
}

#grayscale {
  filter: grayscale(100%);
}

.first_block__text {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-right: 0px;
}

.first_block__title {
    font-family: var(--third-family);;
    font-weight: 1500;
    font-size: 60px;
    line-height: 109%;
    text-align: center;
    color: #000;
    margin-bottom: 35px;
}

.first_block__description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    color: #6c6c6c;
    margin-bottom: 27px;
}

.green {
    color: #6f764d;
}

#first_block__button_need_inf {
    width: 208px;
    height: 45px;
    background: #6f764d;
    color: #ffffff;
    border: none;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 109%;
    text-align: center;
    transition: 0.5s;
}

#first_block__button_need_inf:hover {
    background: #ffffff;
    border:#000 1px solid;
    color: #000000;
    border-radius: 2px;
}

#first_block__button_be_inf{
    width: 208px;
    height: 45px;
    background: #ffffff;
    border:#000 1px solid;
    color: #000000;
    border-radius: 2px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 109%;
    text-align: center;
    transition: 0.5s;
}

#first_block__button_be_inf:hover {
    background: #6f764d;
    color: #ffffff;
    border: none;
}

.first_bloсk__buttons {
    display: flex;
}

.first_block__logo {
    margin-right: 0px;
}

.first_block__button {
    margin-left: 10px;
    margin-right: 10px;
}

.first_girl {
    margin-right: 60px;
}

.second_girl {
    margin-left: 55px;
}