.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 359px;
}

.footer__description {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}

.footer__title {
    width: 100%;
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 40px;
    line-height: 109%;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 30px;
    color: #fff;
}

.footer__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
}

.footer__search {
    margin-top: 56px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.footer__search_nav {
    gap: 3px;
    display: flex;
    flex-direction: column;
}

.footer__information {
    margin-top: 56px;
    display: flex;
    flex-direction: column;
}

.footer__information_nav {
    gap: 3px;
    display: flex;
    flex-direction: column;
}

.footer__link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 189%;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    width: 100%;  
    text-align: left;
}

.footer__preambula {
    width: 100%;
    text-align: left;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    margin-bottom: 38px;
}

.footer__links {
    display: flex;
    gap: 130px;
}

