.fourth_block {
    display: flex;
    height: 520px;
}

.advantages__preambula {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 109%;
    color: #6f764d;
    margin-bottom: 17px;
    text-align: left;
    margin-left: 0px;
    margin-right: 15px;
}

.advantages__title {
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 36px;
    line-height: 114%;
    color: #000;
    margin-bottom: 24px;
    margin-top: 0px;
    margin-right: 15px;
}

.advantages__description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    color: #6c6c6c;
    margin-bottom: 21px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 15px;
}

.fourth_block__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loader {
    margin-top: 0px;
    margin-left: 0px;
}