.free_trial {
    margin-top: 60px;
    margin-bottom: 145px;
}

.free_trial__background {
    width: 1040px;
    height: 392px;
    background: white;
}

.free_trial__header {
    display: flex;
    flex-direction: column;
}

.free_trial_registration {
    border-radius: 5px;
    width: 1040px;
    height: 390px;
    background-image: url("../images/banner.png");
}

.free_trial__title {
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 36px;
    line-height: 109%;
    text-align: center;
    color: #fff;
    margin-top: 120px;
    margin-bottom: 13px;
}

.free_trial__description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 0px;
    margin-bottom: 30px;
}

.free_trial__button {
    border: 2px solid #fff;
    width: 218px;
    height: 45px;
    background: #6F764D;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 109%;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

.free_trial__button:hover {
    background: #6F764D;
    color: #000;
    border: 2px solid #000;
}