* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

/* html {
    width: 1400px;
    height: 5578px;
} */

:root {
    --font-family: "Inter", sans-serif;
    --second-family: "Mulish", sans-serif;
    --third-family: "Rammetto One", sans-serif;
    --font3: "Poppins", sans-serif;
    --font4: "Devonshire", sans-serif;
  }

button {
    cursor: pointer;
    transition: 0.5s;
}   

ul {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
    box-shadow: none;
}

.no_album_orientation {
    display: none;
}

.swiper {
    display: none;
}