@media (max-width: 420px) {

    .container{
        display: none;
    }

    .header {
        margin-bottom: 40px;
    }

    .header__nav__ul {
        transition: all 0.7s ease 0s;
        position: fixed;  
        top: -150%;
        left: 0;
        width: 100%;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        background-color: white;
        background-size: 800px;
        
    }

    .header__nav__ul.active {
        top: 80px;
        }

    #burger {
        display: block;
        margin-left: auto;
        margin-bottom: 650px;
    }

    .header__button {
        display: none;
    }

    .logo_url {
        z-index: 9999;
        display: flex;
        margin-left: 5%;
    }

    .header__burger_menu {
        border: none;
        display: flex;
        width: 30px;
        height: 30px;
        margin-right: 5%;
    }

    .burger_menu {
        z-index: 9999;
        width: 25px;
        height: 25px;
        background-color: white;
    }

    .logo {
        margin-top: 0px;
        width: 100px;
        height: 20px;
    }

    .first_block {
        flex-direction: column;
        width: 100%;
        height: 280px;
    }

    .first_block__text {
        margin-top: 0px;
    }

    .first_girl, .second_girl {
        display: none;
        width: 102px;
        height: 129px;
    }

    #first_block__button_be_inf, #first_block__button_need_inf {
        width: 145px;
        height: 36px;
        font-size: 13px;
    }

    .first_block__title {
        font-size: 38px;
        margin-bottom: 18px;
    }

    .first_block__logo {
        width: 126.6px;
        height: 27.6px;
        margin-right: 7%;
    }

    .first_block__description {
        font-size: 11px;
    }

    .second_block__cards {
        flex-direction: column;
    }

    .second_block__background {
        height: 100%;
        flex-direction: column;
    }

    .second_block__title {
        margin-top: 50px;
        text-align: center;
        font-size: 27px;
        margin-bottom: 10px;
    }

    .second_block__description {
        text-align: center;
        font-size: 11px;
        margin-bottom: 30px;
    }

    .second_block__card, .second_block__card_edited {
        width: 230px;
        height: 327px;
    }

    .second_block__card_edited {
        margin-bottom: 50px;
    }

    .second_block__card__image {
        width: 40px;
        height: 40px;
        margin-top: 25px;
        margin-left: 10px;
    }

    .second_block__card__title, .second_block__card__title_edited {
        margin-left: 12px;
        font-size: 20px;
    }

    .second_block__card__description, .second_block__card__description_edited {
        font-size: 12px;
        margin-left: 12px;
        margin-right: 3px;
        width: auto;
        height: auto;
    }
    
    .arrow {
        width: 47.25px;
        margin-left: 14px;
    }

    .third_block__logo {
        width: 255px;
        margin-top: 15px;
        margin-bottom: 20px;
    }

    .third_block {
        height: auto;
    }

    .third_block__text {
        margin-top: 50px;
    }

    .third_block__title {
        font-size: 27px;
        white-space: pre-wrap;
    }

    .third_block__description {
        font-size: 11px;
        margin-bottom: 35px;
    }

    .third_block__partners {
        flex-direction: column;
        margin: auto;
        gap: 40px;
    }

    .advantages__preambula {
        font-size: 14px;
    }

    .advantages__title {
        margin-left: 0px;
        font-size: 27px;
    }

    .advantages__description {
        font-size: 12px;
    }    

    .loader {
        width: 120px;
    }

    .influencers_photo, .result {
        width: 100%;
    }

    .fourth_block__image {
        margin-top: 35px;
        margin-bottom: 20px;
    }

    .fourth_block {
        flex-direction: column-reverse;
    }
    
    .fourth_block__text {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .fifth_block {
        flex-direction: column;
        height: 100%;
        margin-bottom: 50px;
    }

    .fifth_block__images {
        gap: 15px;
    }

    .fifth_block__card {
        width: 164.45px;
        height: 254.8px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 20px;
    }

    .sixth_block{
        flex-direction: column-reverse;
        height: 100%;
        margin-bottom: 75px;
    }

    .result {
        margin-bottom: 20px;
    }

    .header__burger_menu {
        text-decoration: none;
        outline: none;
        box-shadow: none;
        background-color: white;
    }

    .start_using_now {
        height: auto;
    }

    .start_using_now__background {
        height: 70px;
    }

    .empty_space {
        height: 70px;
        width: 0px;
    }

    #es_1 {
        height: 70px;
        width: 0px;
    }

    .man_with_rupor {
        left: 1%;
        width: 370px;
    }

    .start_using_now__icons {
        width: 50%;
        height: 70px;
        gap: 10px;
        margin-right: 8px;
    }

    .icon__description {
        font-size: 7px;
    }

    #icon_3 {
        width: 33.5px;
        height: 23px;
    }

    #icon_2 {
        width: 32px;
        height: 26.5px;
    }

    #icon_1 {
        width: 29px;
        height: 29px;
    }

    .case_studies__title {
        font-size: 27px;
    }

    .case_studies__additional_info {
        font-size: 19px;
    }

    .case_studies__arrow {
        width: 23px;
        height: 13px;
    }

    .case_studies {
        height: auto;
        margin-bottom: 40px;
    }

    .case_studies__text {
        display: none;
        margin: auto;
    }

    .case_studies__info {
        flex-direction: column;
    }

    .statistic-container {
        width: 100%;
    }

    .statistic__title {
        font-size: 24px;
    }

    .statistic__description {
        font-size: 14px;
    }

    .statistic__row {
        gap: 20px;
    }

    .case_studies__header {
        margin-top: 60px;
        margin-bottom: 20px;
    }

    .influencers {
        height: auto;
    }

    .influencers__title {
        font-size: 27px;
        text-align: center;
        margin: auto;
        margin-bottom: 15px;
    }

    .influencers__header {
        flex-direction: column;
        margin: auto;
        margin-bottom: 20px;
    }

    .influencers__buttons {
        width: 100%;
        gap: 12px;
        margin: auto;
    }

    .influencers__social {
        width: 80px;
        height: 25px;
        font-size: 12px;
    }

    .influencers__social:hover {
        font-size: 12px;
    }

    .selected {
        font-size: 12px;
    }

    .influencers__cards {
        flex-direction: column;
    }

    #arrow_left, #arrow_right {
        display: block;
        text-decoration: none;
        outline: none;
        box-shadow: none;
        border: none;
        background-color: white;
    }

    .influencers__menu {
        display: flex;
        gap: 12px;
    }

    .hidden {
        display: none;
    }

    .free_trial {
        margin-bottom: 60px;
    }

    .free_trial__background {
        width: 100%;
        height: auto;
    }

    .free_trial_registration {
        background: #6f764d;
        width: 100%;
        height: auto;
        border-radius: 0px 0px;
    }

    .free_trial__title {
        font-size: 27px;
        margin-top: 60px;
    }

    .free_trial__description {
        font-size: 11px;
        margin-bottom: 20px;
    }

    .free_trial__button {
        width: 150px;
        height: 40px;
        font-size: 12px;
        margin-bottom: 50px;
    }

    .footer {
        flex-direction: column-reverse;
        height: auto;
    }

    .footer__links {
        display: flex;
        gap: 70px;
    }

    .footer__preambula {
        font-size: 16px;
        margin-bottom: 10px;

    }

    .footer__link {
        font-size: 12px;
    }

    .footer__title {
        font-size: 27px;
        margin-bottom: 25px;
    }

    .footer__text {
        display: none;
    }

    .footer__description {
        margin-top: 40px;
    }
}