.third_block {
    display: flex;
    flex-direction: column;
    height: 460px;
}

.third_block__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 0px;
}

.third_block__logo {
    margin-bottom: 40px;
}

.third_block__title {
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 36px;
    line-height: 109%;
    text-align: center;
    color: #000;
    margin-bottom: 18px;
}

.third_block__description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    color: #6c6c6c;
    margin-bottom: 50px;
}

.third_block__partners {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 135px;
    margin: 0px auto 0px auto;
}

.partner__row {
    display: flex;
    gap: 135px;
}